<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<spam>
			<options>
				<stop_cyrillic/>
				<limit_firstname>255</limit_firstname>
				<limit_lastname>255</limit_lastname>
				<redirect_page>/stopspam/index/forbidden</redirect_page>
			</options>
		</spam>
	</default>
</config>
